<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="none">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>%%TITLE%%</title>
		%%MOREHEADER%%
	</head>
	<body>
		<div id="main">
			<h1>%%TITLE%%</h1>

			%%INNERCONTAINER%%
		</div>
		<div id="footer">
			<center>
				<small>
					<a href="https://github.com/KIMB-technologies/" target="_blank">KIMB-technologies</a>
					&ndash;
					The URL is %%SERVERURL%%
				</small>
			</center>
		</div>
	</body>
</html>